<mat-card>
  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <p class="mat-labels">Flash Cards</p>
      </ng-template>
      <app-flash-cards></app-flash-cards>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <p class="mat-labels">Word List</p>
      </ng-template>
      <app-word-list></app-word-list>
    </mat-tab>
    <mat-tab >
      <ng-template mat-tab-label>
        <p class="mat-labels">Vocab Test</p>
      </ng-template>
      <word-box></word-box>
    </mat-tab>
  </mat-tab-group>
</mat-card>

