<mat-card id="temp-card">
  <!-- <img class="girlImg" src="assets/img/girl.svg" /> -->
  <button mat-icon-button (click)="slideLeft()" class="left-slide" *ngIf="!start">
    <mat-icon>chevron_left</mat-icon>
  </button>


  <div class="slide-container" hidden #thisDiv>
    <div class="glide">
      <div data-glide-el="track" class="glide__track">
        <ul class="glide__slides">
          <li class="glide__slide" *ngFor="let card of adjectiveCards">
            <mat-card class="flash-cards">
              <div class="text-one">{{card.text1}}</div>
              <br/>
              <mat-divider class="divider"></mat-divider>
              <br/>
              <div class="text-two">{{card.text2}}</div>
            </mat-card>
          </li>
        </ul>
      </div>
    </div>
  </div>


  <button mat-icon-button (click)="slideRight()" class="right-slide" *ngIf="!start">
    <mat-icon>chevron_right</mat-icon>
  </button>

  <button mat-raised-button (click)="startCards()" class="start-but" #startBut *ngIf="start">Begin!</button>

  <!-- <ul>
    <li *ngFor="let card of adjectiveCards">
      boop
    </li>
  </ul> -->
</mat-card>
