@import "../../../node_modules/@glidejs/glide/src/assets/sass/glide.core"
@import "../../../node_modules/@glidejs/glide/src/assets/sass/glide.theme"

#temp-card
  background-color: #f9e7c4
  height: 60vh
  display: flex
  justify-content: center
  align-items: center
  width: 75%
  margin: auto
  margin-top: 5vh
  margin-bottom: 4vh
  padding-top: 2.5%
  padding-bottom: 2.5%

.flash-card1, .flash-card2
  background-color: #4f4745
  color: #f9e7c4
  width: 100%
  text-align: center

.flash-card2
  margin-top: 2.5%

.flash-card1-mobile, .flash-card2-mobile
  background-color: #4f4745
  color: #f9e7c4
  height: 23vh
  width: 100%
  margin: auto
  text-align: center
  line-height: 1.25

.flash-card1-mobile
  margin-bottom: 5%

.flash-card2-mobile
  margin-top: 5%

.divider
  background-color: #f9e7c4 !important
  // padding-top: 2.5%
  // padding-bottom: 2.5%

.text-one, .text-two
  font-size: 5vh
  padding-top: 12.5%
  padding-bottom: 12.5%

.girlImg
  display: flex
  margin: auto
  width: 80%
  height: 100%

.start-but
  justify-content: center
  width: 60%
  height: 25vh
  font-size: 8vh
  background-color: #4f4745
  color: #f9e7c4

.start-but-mobile
  justify-content: center
  width: 80%
  height: 15vh
  font-size: 5vh
  background-color: #4f4745
  color: #f9e7c4

.left-slide, .right-slide
  background-color: #4f4745 !important
  color: #f9e7c4
  margin: auto !important

.slide-container
  width: 80%
